/.idea/*
/ui.apps/target
/core/target
/core.config/target
/it.launcher/target
/it.tests/target/*
/ui.content/target/*
/ui.core-clientlibs/target/*
./.settings
.project
.DS_Store
.settings/
.classpath
*.iml
apps.iml
.idea/*
*.log
target/
classes/
.springBeans
cache.properties
*.swp
release.properties
pom.xml.releaseBackup
.svn
tmp.xml
.vlt
.metadata
.theirs
.mine
.base
.idea/
.idea/misc.xml
.idea/.name
.idea/workspace.xml
web/
/bin/
.idea
