./target
./.settings
.project
.DS_Store
.settings/
.classpath
*.iml
apps.iml
.idea/*
*.log
target/
classes/
.springBeans
cache.properties
*.swp
release.properties
pom.xml.releaseBackup
.svn
tmp.xml
.vlt
.metadata
.theirs
.mine
.base
.idea/
.idea/.name
.idea/workspace.xml
web/
/bin/
.idea
